.tableImg {
	height: 150px;
	width: auto;

}

.arrows {
	height: 20px;
	width: auto;
	float: right;
}

.arrows img {
	padding-left: 15px;
	padding-right: 3px;
}

.result-content th {
	text-align: left;
	height: 20px;
	line-height: 20px;
	background:  linear-gradient(#c61350, #99163e);
}

.result-content td{	
	color: white;
	font-family: 'Lato', arial, sans-serif;
	letter-spacing: 3px;
	vertical-align: top;
	padding: 5px;
}
.ub.result-content   table {
	border-collapse: collapse;
    margin: 0 auto;
	
  }
.result a {
	transition: color 1s;
	text-decoration: none;
	color: white;
}
.result a:hover {
	color: #c61350; 
}
.ub.result-content {
	text-align: center;
	width: 80%;

}
.tDesc {
	width: 30%; 
	text-align: left;
}
.result ul {
	padding: 0;
	margin: 0;

}
.colab ul li {
	display: list-item;
	padding-bottom: 10px;
}

.colab {
	text-align: left;
	vertical-align: top;
	width: 20%;
}

.desc {
	width: 100%;
	height: 150px;
	background: none;
	border: none;
	overflow: auto;
}