@CHARSET "UTF-8";
html {
	position: relative;
}



body {
	font-family: arial; 
	background: #eeeeee;
	margin: 0;
}

footer {
	background: #d1636a;
	width: 100%;
	height: 70px;
	position: absolute;
	margin-bottom: 0px!important;
}

#container {
	background: #fff;
	border-bottom: 2px solid #ff4854;
	width: 100%;
	min-height: 100% !important;
	height: 100%;
	clear: both;

}

#containerMain {
	position: absolute;
	top: 182px;
	background: #fff;
	border-bottom: 2px solid #ff4854;
	width: 100%;
	clear: both;
	overflow: auto;

}


.col {
	background: #fff;
	border-radius: 4px;
	height: 500px;
	width: 45%;
	text-align: left;
	overflow: hidden;
	margin: 20px;
	padding: 10px;
	display: inline-block;
}


.col {
	color: #494949;
	font: 15px arial;
}

.col h1 {
	color: #2f2f2f;
	font-family: arial;
	font-size: 22px;
	border-bottom: 1px solid #ff4854;
	width: 60%;
}

.col h2 {
	color: #7b7b7b;
	font-family: arial;
	font-size: 14px;
	width: 60%;
}

.col table, th, td#tb {

	background: none;
	border: none;
	border-collapse: collapse;
}

a#view {
	background: none;
	color: #d1636a;
	padding: 2px;
	text-align: center;
	text-decoration: none;
	border: none;
}

.status {
	position: absolute;
	top: 60px;
	background: linear-gradient(#eee, #cbcbcb);
	border-bottom: 2px solid #9e9e9e;
	height: 120px;
	width: 100%;
	overflow: hidden;
	margin: 0; 
	padding: 0;
	text-align: center;
}

.status table, th, td#info {
	color: #5b5b5b;
	background: #f3f3f3;
	padding: 0 10px;
	margin: 0 auto;
	border-collapse: collapse;
	border: 1px solid #b5b5b5;
}

.status td {
	text-align: right;
}

.status h1, h2{
	color: #5b5b5b;
}

.logo {
	z-index: 3;
	position: fixed;
	top:0px;
	left:0px;
}

nav {
	position: fixed;
	margin-top: 0px;
	top: 0px;
	background: #2f2f2f;
	text-align: center;
	height: 63px;
	width: 100%;
	margin: 0;
	border-bottom: #fff 6px solid;
	line-height: 60px;
}

nav ul{
	display: inline;
	padding: 0 0 0 35px;
}

nav ul li{
	display: inline-block;
	margin: 0 20px 0 0;
	text-decoration: none;
}

nav ul li a{
	color: #fff;
	font: 14px verdana;
	letter-spacing: 1px;
	text-decoration: none;
}

nav ul li a:hover{
	color: #ff4854;
}